  <footer>
    <div class="footer-content text-center mt-1  bg-{{currentMode}} ">
    <div>&copy; 2024 <strong>News Buster</strong>. All rights reserved.</div>
      <div>Designed with ❤️ by <a href="https://mohdnazimportfolio.netlify.app/" target="_blank">Mohd Nazim</a></div>
      </div>
      </footer>


  <!-- <footer>
    <div class=" text-center mt-2 fixed-bottom bg-{{currentMode}} ">
    <p>&copy; 2023 <strong>News Buster</strong>. All rights reserved.</p>
      <p>Designed with ❤️ by <a href="https://www.yourwebsite.com" target="_blank">News Buster Team</a></p>
      </div>
      </footer> -->