<footer>
<div class="text-center mt-1 bg-{{currentMode}} ">
<p>&copy; 2023 <strong>News Buster</strong>. All rights reserved.</p>
  <p>Designed with ❤️ by <a href="https://www.yourwebsite.com" target="_blank">News Buster Team</a></p>
  </div>
  </footer>


  <!-- <footer>
    <div class=" text-center mt-2 fixed-bottom bg-{{currentMode}} ">
    <p>&copy; 2023 <strong>News Buster</strong>. All rights reserved.</p>
      <p>Designed with ❤️ by <a href="https://www.yourwebsite.com" target="_blank">News Buster Team</a></p>
      </div>
      </footer> -->