<div class="container mt-4 ">
  <section>
   <div class="text-center mb-2 " >
    <img src="../../../assets/aaa.png" alt="News Buster Logo" class="img-fluid text-center" style="max-width: 150px;">
   </div>
    <h2>Welcome to News Buster Times!</h2>
    <p>At News Buster, we are dedicated to providing you with the latest and most relevant news from around the world.
      Our mission is to keep you informed, engaged, and empowered with the information you need.</p>
  </section>

  <section>
    <h2>Our Vision</h2>
    <p>We envision a world where every individual is well-informed about global events and has easy access to unbiased
      news. Our goal is to bridge the gap between you and the world's happenings, delivering news that matters most to
      you.</p>
  </section>

  <section>
    <h2>Why Choose News Buster?</h2>
    <p>1. Comprehensive Coverage: We bring you a diverse range of topics, ensuring you stay informed on politics,
      technology, and more.</p>
    <p>2. User-Friendly Experience: Our user interface is designed for ease of use, making it simple for you to navigate,
      search, and explore news articles.</p>
    <p>3. Personalized Service: Tailor your news experience by saving favorite articles, creating wishlists, and
      customizing your news feed.</p>
  </section>
</div>